html{
  font-size: 16px;
}

body{
  overflow-x: hidden;
}

h1 {
  font-size: 48px;
  font-family: 'Russo One', sans-serif;
}

h2, .h2 {
  font-size: 32px;  
}

h3, .h3 {
  font-size: 24px;  
}

h4, .h4 {
  font-size: 20px;  
}

h1, .h1,h2, .h2,h3, .h3,h4, .h4{
  line-height: 1.5;
}

p {
  line-height: 2;
}

h1, h2, h3, h4{
  color: #000000DE;
} 

.object-fit{
  object-fit: cover;
}

.text-decoration{
  text-decoration: underline;
}

.cursor--pointer {
  cursor: pointer;
}

.height{
  &--100vh {
    min-height: calc(100vh - (82px + 112px));;
  }
}

.transition{
  transition: 0.3s;
}